<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta charset="utf-8">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capture Pro</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <link rel="stylesheet" href="/evara-backend/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin/dhashbord.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Revalia&display=swap" rel="stylesheet">
</head>
<body>
    <%- body %>
</body>
<!-- Add Axios CDN in the head or before your scripts -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</html>